@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background-color: #8fbfda;
  border-radius: 32px;
  background-clip: content-box;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
